.section_cards_single {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card_title {
  text-align: left;
}

.card_text {
  text-align: left;
  color: rgb(139, 139, 139);
}

.card_profile_img {
  width: 15%;
}

.card_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.profile_name {
  font-size: 20px;
}

.list_card_body {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
}
